.box {

}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #c8c8c8;
}

.title:hover {
  color: #fff;
}

.children {
  margin-left: 20px;
  position: relative;
}

.children:before {
  content: '';
  top: 6px;
  bottom: 6px;
  left: -8px;
  width: 1px;
  background-color: #40403e;
  position: absolute;
}
